# Dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build / Next
.next
out
build

# Env (nunca commitar no build)
.env*
!.env.example

# Git / IDE
.git
.gitignore
.cursor
.agents
.gemini
*.md
!README.md

# Test / misc
coverage
*.log
.DS_Store
*.pem
.vercel
